
html, body{
	height: 100%;
}

body{
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.75;
	overflow-x: hidden;
	opacity: 1;
}

img{
	margin-top: 15px;
	margin-bottom: 15px;
}
p{
	margin-top: 15px;
}

@import "./media.scss";
@import "./color.scss";
